# Starting Session

In [7]:
import pyspark
from pyspark.sql import SparkSession

In [8]:
# Main entrypoint to spark
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

23/03/23 21:50:03 WARN Utils: Your hostname, MSI resolves to a loopback address: 127.0.1.1; using 172.29.99.79 instead (on interface eth0)
23/03/23 21:50:03 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/23 21:50:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [35]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz

--2023-03-23 22:37:58--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230323%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230323T153759Z&X-Amz-Expires=300&X-Amz-Signature=d9f46d7199590e7745afaddea61d94541346dad286733273e4b2bd02eddd45af&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-23 22:37:59--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230323%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230323T153759Z&X-Amz-Expires=300&X-Amz-Signature=d9f46d7199590e7745afaddea61d94541346dad286733273e4b2bd02eddd45af&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 129967421 (124M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-01.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 123.95M  1.19MB/s    in 2m 4s

2023-03-23 22:40:05 (1021 KB/s) - ‘fhvhv_tripdata_2021-01.csv.gz’ saved [129967421/129967421]

In [36]:
!wc -l fhvhv_tripdata_2021-01.csv.gz

508066 fhvhv_tripdata_2021-01.csv.gz

In [38]:
!gzip -d fhvhv_tripdata_2021-01.csv.gz

In [40]:
df = spark.read.option("header","true").csv('fhvhv_tripdata_2021-01.csv')

In [41]:
df.head(5)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2021-01-01 00:33:44', dropoff_datetime='2021-01-01 00:49:07', PULocationID='230', DOLocationID='166', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2021-01-01 00:55:19', dropoff_datetime='2021-01-01 01:18:21', PULocationID='152', DOLocationID='167', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:23:56', dropoff_datetime='2021-01-01 00:38:05', PULocationID='233', DOLocationID='142', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:42:51', dropoff_datetime='2021-01-01 00:45:50', PULocationID='142', DOLocationID='143', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:48:14', dropoff_datetime='2021-01-01 01:08:42', PULocationID='143', DOLocationID='78', SR_Flag=None)]

# Edit the Schema

In [42]:
df.schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('SR_Flag', StringType(), True)])

In [44]:
!head -n 101 fhvhv_tripdata_2021-01.csv > head.csv

In [45]:
!wc -l head.csv

101 head.csv

In [46]:
!head head.csv

In [47]:
import pandas as pd

In [49]:
df_pandas = pd.read_csv('head.csv')

In [51]:
df_pandas.dtypes

hvfhs_license_num        object
dispatching_base_num     object
pickup_datetime          object
dropoff_datetime         object
PULocationID              int64
DOLocationID              int64
SR_Flag                 float64
dtype: object

In [54]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('SR_Flag', DoubleType(), True)])

In [55]:
from pyspark.sql import types

In [59]:
schema = types.StructType([
    types.StructField('hvfhs_license_num', types.StringType(), True), 
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.TimestampType(), True), 
    types.StructField('dropoff_datetime', types.TimestampType(), True), 
    types.StructField('PULocationID', types.IntegerType(), True), 
    types.StructField('DOLocationID', types.IntegerType(), True), 
    types.StructField('SR_Flag', types.StringType(), True)]
    )

In [60]:
df = spark.read.option("header","true").schema(schema).csv('fhvhv_tripdata_2021-01.csv')

In [64]:
df.head(2)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 33, 44), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 49, 7), PULocationID=230, DOLocationID=166, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 55, 19), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 18, 21), PULocationID=152, DOLocationID=167, SR_Flag=None)]

# Repartition

In [65]:
df  = df.repartition(24)

In [66]:
df.write.parquet('fhvhv/2021/01/')

23/03/23 23:03:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/03/23 23:03:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/03/23 23:03:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/03/23 23:03:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/03/23 23:03:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers

23/03/23 23:03:28 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/03/23 23:03:28 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/03/23 23:03:28 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/03/23 23:03:28 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/03/23 23:03:29 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/03/23 23:03:29 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers

23/03/23 23:03:29 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/03/23 23:03:29 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/03/23 23:03:29 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
23/03/23 23:03:31 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/03/23 23:03:31 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/03/23 23:03:31 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/03/23 23:03:32 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

# Spark DataFrames

In [67]:
df = spark.read.parquet("fhvhv/2021/01/")

In [70]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [78]:
df.select('pickup_datetime','dropoff_datetime','PULocationID','DOLocationID')\
    .filter(df.hvfhs_license_num=='HV0003').show()

+-------------------+-------------------+------------+------------+
|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-------------------+-------------------+------------+------------+
|2021-01-01 13:21:04|2021-01-01 13:36:54|         254|         153|
|2021-01-03 15:49:14|2021-01-03 16:00:21|          94|         174|
|2021-01-01 03:08:49|2021-01-01 03:27:15|         256|          37|
|2021-01-02 08:51:20|2021-01-02 09:23:34|          35|         205|
|2021-01-01 22:26:58|2021-01-01 22:39:27|          74|          94|
|2021-01-01 12:21:29|2021-01-01 12:36:45|         137|          25|
|2021-01-02 22:34:51|2021-01-02 23:06:01|         126|          83|
|2021-01-03 20:31:29|2021-01-03 20:37:59|         213|         248|
|2021-01-01 17:40:45|2021-01-01 17:54:40|         225|         225|
|2021-01-02 15:23:05|2021-01-02 15:50:32|          42|          83|
|2021-01-02 05:41:54|2021-01-02 05:55:49|         143|          75|
|2021-01-03 00:11:58|2021-01-03 00:20:49|          85|          91|
|2021-01-01 18:32:46|2021-01-01 18:40:28|          92|         121|
|2021-01-03 05:04:01|2021-01-03 05:14:25|         114|         229|
|2021-01-02 15:03:19|2021-01-02 15:09:33|          61|          17|
|2021-01-02 22:23:42|2021-01-02 22:47:51|         163|          94|
|2021-01-01 15:48:45|2021-01-01 15:59:12|         231|         246|
|2021-01-02 15:30:48|2021-01-02 15:39:38|         232|          13|
|2021-01-03 16:46:34|2021-01-03 17:03:40|         136|          47|
|2021-01-03 14:40:38|2021-01-03 14:55:25|          25|         133|
+-------------------+-------------------+------------+------------+
only showing top 20 rows

In [72]:
from pyspark.sql import functions as F

In [75]:
# add new column with defined funciton
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime))\
    .select('pickup_date','dropoff_date','PULocationID','DOLocationID')\
    .show()

+-----------+------------+------------+------------+
|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-----------+------------+------------+------------+
| 2021-01-03|  2021-01-03|          82|         129|
| 2021-01-01|  2021-01-01|          85|          76|
| 2021-01-01|  2021-01-01|         254|         153|
| 2021-01-03|  2021-01-03|          94|         174|
| 2021-01-01|  2021-01-01|         256|          37|
| 2021-01-02|  2021-01-02|          35|         205|
| 2021-01-01|  2021-01-01|          74|          94|
| 2021-01-01|  2021-01-01|          63|          14|
| 2021-01-01|  2021-01-01|         137|          25|
| 2021-01-02|  2021-01-02|         126|          83|
| 2021-01-03|  2021-01-03|         213|         248|
| 2021-01-02|  2021-01-02|          74|         224|
| 2021-01-03|  2021-01-03|          94|         169|
| 2021-01-01|  2021-01-01|         225|         225|
| 2021-01-01|  2021-01-01|         116|          75|
| 2021-01-02|  2021-01-02|          42|          83|
| 2021-01-02|  2021-01-02|         143|          75|
| 2021-01-03|  2021-01-03|          85|          91|
| 2021-01-01|  2021-01-01|          92|         121|
| 2021-01-01|  2021-01-01|         116|          42|
+-----------+------------+------------+------------+
only showing top 20 rows

In [ ]:
# user defined funciton
"""
    udf_stuff = F.udf(stuff_function, returnType=types.StringType())
    .withColumn('base_id', udf_stuff(df.dispatching_base_num))
"""