### Question 1

What's the spark version?

In [40]:
import pyspark
from pyspark.sql import SparkSession

In [41]:
spark = SparkSession.builder \
    .master("local[*]")\
    .appName('test')\
    .getOrCreate()

In [42]:
spark.version

'3.3.2'

### Question 2

Average size of partition

In [5]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz

--2023-03-27 10:43:04--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 20.205.243.166, 205.251.194.8, 205.251.193.165, ...
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230327%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230327T034306Z&X-Amz-Expires=300&X-Amz-Signature=ac0a6fc544519af94f2460385a0df4ddc1034b656b99ea5ae1e3590ecc9de517&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-27 10:43:05--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230327%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230327T034306Z&X-Amz-Expires=300&X-Amz-Signature=ac0a6fc544519af94f2460385a0df4ddc1034b656b99ea5ae1e3590ecc9de517&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-06.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 167.66M   693KB/s    in 4m 28s

2023-03-27 10:47:34 (640 KB/s) - ‘fhvhv_tripdata_2021-06.csv.gz’ saved [175799316/175799316]

In [43]:
df = spark.read\
        .option("header","true")\
        .option("inferSchema","true")\
        .csv("fhvhv_tripdata_2021-06.csv.gz")

In [45]:
df\
        .repartition(12)\
        .write.parquet('homework_data',  mode="overwrite")

23/03/27 11:17:21 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/03/27 11:17:21 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/03/27 11:17:21 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/03/27 11:17:21 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/03/27 11:17:21 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers

23/03/27 11:17:28 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/03/27 11:17:28 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/03/27 11:17:28 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers

23/03/27 11:17:29 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [46]:
%cd homework_data

/home/diccode/zoomcamp/batch_processing/homework_data

In [47]:
!ls -lh

total 284M
-rw-r--r-- 1 diccode diccode   0 Mar 27 11:17 _SUCCESS
-rw-r--r-- 1 diccode diccode 24M Mar 27 11:17 part-00000-42646711-405a-43af-92c5-335537b1a656-c000.snappy.parquet
-rw-r--r-- 1 diccode diccode 24M Mar 27 11:17 part-00001-42646711-405a-43af-92c5-335537b1a656-c000.snappy.parquet
-rw-r--r-- 1 diccode diccode 24M Mar 27 11:17 part-00002-42646711-405a-43af-92c5-335537b1a656-c000.snappy.parquet
-rw-r--r-- 1 diccode diccode 24M Mar 27 11:17 part-00003-42646711-405a-43af-92c5-335537b1a656-c000.snappy.parquet
-rw-r--r-- 1 diccode diccode 24M Mar 27 11:17 part-00004-42646711-405a-43af-92c5-335537b1a656-c000.snappy.parquet
-rw-r--r-- 1 diccode diccode 24M Mar 27 11:17 part-00005-42646711-405a-43af-92c5-335537b1a656-c000.snappy.parquet
-rw-r--r-- 1 diccode diccode 24M Mar 27 11:17 part-00006-42646711-405a-43af-92c5-335537b1a656-c000.snappy.parquet
-rw-r--r-- 1 diccode diccode 24M Mar 27 11:17 part-00007-42646711-405a-43af-92c5-335537b1a656-c000.snappy.parquet
-rw-r--r-- 1 diccode diccode 24M Mar 27 11:17 part-00008-42646711-405a-43af-92c5-335537b1a656-c000.snappy.parquet
-rw-r--r-- 1 diccode diccode 24M Mar 27 11:17 part-00009-42646711-405a-43af-92c5-335537b1a656-c000.snappy.parquet
-rw-r--r-- 1 diccode diccode 24M Mar 27 11:17 part-00010-42646711-405a-43af-92c5-335537b1a656-c000.snappy.parquet
-rw-r--r-- 1 diccode diccode 24M Mar 27 11:17 part-00011-42646711-405a-43af-92c5-335537b1a656-c000.snappy.parquet

In [48]:
%cd ..

/home/diccode/zoomcamp/batch_processing

### Question 3

How many taxi trips on June 15

In [81]:
df_part = spark.read\
        .option("header","true")\
        .option("inferSchema","true")\
        .parquet("homework_data/*")

In [82]:
df_part.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [83]:
from pyspark.sql import functions as F

In [85]:
# add new column with defined funciton
df_part = df_part \
    .withColumn('pickup_date', F.to_date(df_part.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df_part.dropoff_datetime))

In [86]:
from datetime import datetime

In [87]:
filter_date = datetime(2021, 6, 15)

In [88]:
df_june_15  =df_part\
    .filter(df_part.pickup_date == filter_date)

In [89]:
df_june_15.count()

452470

In [90]:
df_june_15.show(1)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|pickup_date|dropoff_date|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
|              B02884|2021-06-15 19:05:01|2021-06-15 19:29:42|         163|         114|      N|                B02884| 2021-06-15|  2021-06-15|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
only showing top 1 row

#### with SQL

In [91]:
df_part.registerTempTable("trips_data")

In [92]:
spark.sql("""
SELECT 
    COUNT(*) as count
FROM trips_data
WHERE pickup_date == '2021-06-15'
""").show()

+------+
| count|
+------+
|452470|
+------+

### Question 4

Longest trip duration

In [96]:
spark.sql("""
SELECT 
    TIMESTAMPDIFF(HOUR, pickup_datetime, dropoff_datetime) as duration
FROM trips_data
ORDER BY duration DESC
LIMIT 5
""").show()

+--------+
|duration|
+--------+
|      66|
|      25|
|      19|
|      18|
|      16|
+--------+

### Question 5

Spark UI port: 4040

### Question 6

Most frequent pickup location zone

In [100]:
df_part.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'SR_Flag',
 'Affiliated_base_number',
 'pickup_date',
 'dropoff_date']

In [101]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2023-03-27 11:36:08--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 20.205.243.166, 198.51.44.8, 198.51.45.8, ...
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230327%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230327T043610Z&X-Amz-Expires=300&X-Amz-Signature=6660413c6212cc79c73eddbc12c360a3b129bd99961e9b78720db3e53ddaf30f&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2023-03-27 11:36:09--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230327%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230327T043610Z&X-Amz-Expires=300&X-Amz-Signature=6660413c6212cc79c73eddbc12c360a3b129bd99961e9b78720db3e53ddaf30f&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0.07s

2023-03-27 11:36:09 (175 KB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [102]:
df_lookup = spark.read\
        .option("header","true")\
        .option("inferSchema","true")\
        .csv("taxi_zone_lookup.csv")

In [104]:
df_lookup.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [107]:
df_lookup.registerTempTable("lookup_data")

In [111]:
spark.sql("""
SELECT 
    lookup_data.zone, count(1)
FROM trips_data
JOIN lookup_data ON trips_data.PULocationID = lookup_data.LocationID
GROUP BY lookup_data.zone
ORDER BY count(1) DESC
LIMIT 5
""").show()

+-------------------+--------+
|               zone|count(1)|
+-------------------+--------+
|Crown Heights North|  231279|
|       East Village|  221244|
|        JFK Airport|  188867|
|     Bushwick South|  187929|
|      East New York|  186780|
+-------------------+--------+